[Unit]
Description=HylaFAX faxgetty for ttyIAX.

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyIAX11

[Install]
WantedBy=multi-user.target
