[Unit]
Description=HylaFAX faxgetty for ttyACM23

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyACM23

[Install]
WantedBy=multi-user.target