[Unit]
Description=HylaFAX faxgetty for ttyACM6

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyACM6

[Install]
WantedBy=multi-user.target