[Unit]
Description=HylaFAX faxgetty for ttyACM21

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyACM21

[Install]
WantedBy=multi-user.target