[Unit]
Description=HylaFAX faxgetty for ttyACM17

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyACM17

[Install]
WantedBy=multi-user.target