[Unit]
Description=HylaFAX faxgetty for ttyS8

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyS8

[Install]
WantedBy=multi-user.target