[Unit]
Description=HylaFAX faxgetty for ttyS12

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyS12

[Install]
WantedBy=multi-user.target