[Unit]
Description=HylaFAX faxgetty for ttyACM19

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyACM19

[Install]
WantedBy=multi-user.target