[Unit]
Description=HylaFAX faxgetty for ttyACM8

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyACM8

[Install]
WantedBy=multi-user.target