[Unit]
Description=HylaFAX faxgetty for ttyS3

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyS3

[Install]
WantedBy=multi-user.target