[Unit]
Description=HylaFAX faxgetty for ttyS13

[Service]
User=root
Group=root
Restart=always
RestartSec=30
ExecStart=/usr/sbin/faxgetty ttyS13

[Install]
WantedBy=multi-user.target